@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

:root {
    --main-black-color: #1d1c1e;
    --light-black-color: rgb(0, 0, 0, 0.4);
    --main-peach-color: #e78168;
    --sec-color-peach: #ffad9b;
    --main-peach-color-lighter: #e7816880;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jost', sans-serif;
    overflow-x: hidden;
}

.global--button {
    padding: 16px 22px;
    border-radius: 8px;
    border: none;
    font: 500 1rem 'Jost', sans-serif;
    cursor: pointer;
    color: var(--main-black-color);
    background-color: white;
    transition: all 0.3s ease-out;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.global--button:hover {
    background-color: var(--sec-color-peach);
    color: white;
}

.top--header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 16px;
    background-color: white;
    z-index: 10;
}

/* Top header logo */
.top--header__logo img {
    width: 200px;
    margin-top: 10px;
}

/* Humberger menu button */
.top--header__humberger--menu {
    cursor: pointer;
}

.top--header__humberger--menu__item {
    width: 21px;
    height: 3px;
    background-color: var(--main-black-color);
    transition: all 0.4s ease-out;
}

.top--header__humberger--menu__item.first {
    transform-origin: 0% 0%;
}

.top--header__humberger--menu__item.second {
    margin: 4px 0;
}

.top--header__humberger--menu__item.third {
    transform-origin: 0% 100%;
}

.top--header__humberger--menu__item.second.close,
.top--header__humberger--menu__item.rotate--up,
.top--header__humberger--menu__item.rotate--down {
    transition: all 0.4s ease-in;
}

.top--header__humberger--menu__item.second.close {
    transform: translateX(100%);
    opacity: 0;
}

.top--header__humberger--menu__item.rotate--up {
    transform: rotate(-45deg);
}

.top--header__humberger--menu__item.rotate--down {
    transform: rotate(45deg);
}

/* Top header navbar */

.top--navbar {
    position: absolute;
    background-color: var(--main-black-color);
    color: white;
    left: 0;
    right: 0;
    top: -200px;
    transition: all 0.5s ease-out;
    padding: 32px 24px;
    z-index: 9;
}

.top--navbar.open {
    top: 100px;
}

.top--navbar__items {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.top--navbar__items__item a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}

.top--navbar__items__item a:hover,
.footer__first--container ul li a:hover {
    color: var(--main-peach-color);
}

.top--navbar__items__item:nth-child(2) {
    padding: 32px 0;
}

/* Top Section Info */

#top--section--info {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 16px 0 16px;
    background-color: var(--main-peach-color);
    text-align: center;
    color: white;
    overflow: hidden;
    z-index: 8;
    border-radius: 15px;
}


.top--section--info__desc h1 {
    font-weight: 500;
    font-size: 2rem;
}

.top--section--info__desc p {
    padding: 24px 0;
}

.top--section--info__img {
    overflow: hidden;
    height: 400px;
    margin-top: 16px;
}

.top--section--info__img::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url('../../assets/home/desktop/bg-pattern-hero-home.svg');
    background-repeat: no-repeat;
}

.top--section--info__img img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 35%;
    z-index: -1;


}

/* Our Projects */

#our--projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 250px);
    margin: 100px 16px;
    row-gap: 32px;
}

#our--projects div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}

#our--projects div::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.3s ease-out;
    background-color: var(--light-black-color);
}

#our--projects div:hover::before {
    background-color: var(--main-peach-color-lighter);
}

#our--projects div h1,
#our--projects div p {
    position: relative;
    color: white;
}

#our--projects div h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 16px;
}

#our--projects div p {
    font-size: 1.2rem;
    letter-spacing: 5px;
}

#our--projects div p::after {
    content: '';
    position: absolute;
    background-image: url('../../assets/shared/desktop/icon-right-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.our--projects__web {
    background-image: url('../../assets/home/mobile/image-web-design.jpg');
}

.our--projects__mobile {
    background-image: url('../../assets/home/mobile/image-app-design.jpg');
}

.our--projects__graphic {
    background-image: url('../../assets/home/mobile/image-graphic-design.jpg');
}

/* Our Features */

#our--features {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 250px;
}

#our--features .our--features__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 32px 16px;
}

.our--features__wrapper div:first-of-type {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.our--features__wrapper div:first-of-type::before {
    content: '';
    position: absolute;
    background-image: url('../../assets/home/desktop/bg-pattern-hero-home.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: -1;
}

.our--features__wrapper div:last-of-type h1 {
    font-weight: 500;
    margin: 48px 0 24px 0;
}

.our--features__wrapper div:last-of-type p {
    line-height: 2;
}

.our--features__passionate__img--container {
    background-image: url('../../assets/home/desktop/illustration-passionate.svg');
}

.our--features__passionate__img--container::before {
    transform: rotate(-90deg);
}

.our--features__resourceful__img--container {
    background-image: url('../../assets/home/desktop/illustration-resourceful.svg');
}

.our--features__resourceful__img--container::before {
    transform: rotate(-180deg);
}

.our--features__friendly__img--container {
    background-image: url('../../assets/home/desktop/illustration-friendly.svg');
}

/* CTA */

#cta {
    position: absolute;
    bottom: 80%;
    z-index: 100;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5%;
    background-color: var(--main-peach-color);
    padding: 48px 16px;
    border-radius: 10px;
}

#cta::before {
    content: '';
    position: absolute;
    background-image: url('../../assets/shared/desktop/bg-pattern-call-to-action.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#cta h1,
#cta p,
#cta button {
    position: relative;
    z-index: 2;
}

#cta h1,
#cta p {
    color: white;
}

#cta p {
    margin: 16px 0;
}

#cta button {
    margin-top: 16px;
}

/* Footer */

#footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--main-black-color);
    padding: 200px 32px 32px 32px;
}

#footer::after {
    position: absolute;
    content: '';
    width: 60%;
    height: 1px;
    top: 31%;
    background-color: rgba(255, 255, 255, 0.5);

}

.footer__first--container {
    display: flex;
    flex-direction: column;
}

.footer__first--container img {
    position: relative;
    width: 250px;
}

.footer__first--container ul {
    list-style-type: none;
    margin: 80px 0 32px 0;
    display: flex;
    flex-direction: column;
}

.footer__first--container ul li {
    margin: 16px 0;
}

.footer__first--container ul li a {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

.footer__second--container {
    display: flex;
    flex-direction: column;
}

.footer__second--container ul {
    list-style-type: none;
}

.footer__second--container ul li {
    margin: 16px 0;
    color: rgba(255, 255, 255, 0.5);
}

.footer__second--container ul li:nth-child(1) {
    font-weight: bold;
}

.footer__second--container ul:nth-child(3) {
    display: flex;
    justify-content: center;
}

.footer__second--container ul:nth-child(3) li {
    margin: 16px 10px;
    opacity: 1;
}

@media only screen and (min-width: 350px) {
    .top--section--info__img img {
        top: 30%;
    }
}

@media only screen and (min-width: 450px) {
    .top--section--info__img img {
        top: 25%;
    }
}

@media only screen and (min-width: 580px) {
    .top--section--info__desc h1 {
        padding: 0 50px;
        font-size: 2.5rem;
    }

    .top--section--info__desc p {
        padding: 24px 50px;
    }

    .top--section--info__img img {
        top: 30%;
    }

    /* Our Features */
    .our--features__wrapper div:last-of-type p {
        max-width: 80%;
        margin: auto;
    }
}

@media only screen and (min-width: 768px) {

    /* Top header*/
    .top--header {
        padding: 32px 0;
        margin: 0 8%;
    }

    /* Humberger menu button */
    .top--header__humberger--menu {
        display: none;
    }

    /* Top header navbar */
    .top--navbar {
        background-color: white;
        z-index: 10;
        left: 40%;
        right: 8%;
        top: 10px;
        padding: 32px 0;
    }

    .top--navbar__items {
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }

    .top--navbar__items__item:nth-child(2) {
        padding: 0 48px;
    }

    .top--navbar__items__item a {
        position: relative;
        color: var(--main-black-color);
        font-size: 1rem;
    }

    .top--navbar__items__item a:hover {
        color: var(--main-black-color);
    }

    .top--navbar__items__item a:hover::after,
    .footer__first--container ul li a:hover::after {
        position: absolute;
        content: '';
        height: 1px;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--main-black-color);
        animation: widthAnimation 0.2s linear forwards;
    }

    @keyframes widthAnimation {
        0% {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }

    /* Top Section Info */
    #top--section--info {
        margin: 0 8%;
    }

    .top--section--info__desc h1 {
        font-size: 3rem;
    }

    .top--section--info__desc p {
        max-width: 500px;
        margin: auto;
        padding: 16px 0 24px 0;
        font-size: 1.1rem;
    }

    .top--section--info__img img {
        top: 35%;
    }

    /* Our Projects */

    #our--projects {
        grid-template-rows: repeat(3, 200px);
        margin: 100px 8%;
    }

    .our--projects__web {
        background-image: url('../../assets/home/tablet/image-web-design.jpg');
    }

    .our--projects__mobile {
        background-image: url('../../assets/home/tablet/image-app-design.jpg');
    }

    .our--projects__graphic {
        background-image: url('../../assets/home/tablet/image-graphic-design.jpg');
    }

    /* Our Features */
    #our--features {
        margin: 0 8%;
        margin-bottom: 250px;
    }

    #our--features .our--features__wrapper {
        flex-direction: row;
        text-align: left;
        margin: 32px 0;
    }

    .our--features__wrapper div:first-of-type {
        width: 500px;
        margin-right: 32px;
    }

    .our--features__wrapper div:last-of-type p {
        margin: 0;
        max-width: 100%;
    }

    /* CTA */

    #cta {
        /* bottom: 70%; */
        margin: 0 8%;
        right: 0;
        left: 0;
    }

    #cta p {
        max-width: 80%;
        margin: 16px auto;
    }


    /* Footer */
    #footer {
        text-align: left;
        align-items: stretch;
        padding: 150px 8% 32px 8%;
    }

    #footer::after {
        width: 84%;
        top: 55%;
    }

    .footer__first--container,
    .footer__second--container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer__second--container {
        align-items: flex-end;
    }

    .footer__first--container img {
        width: 250px;
        height: 35px;
    }

    .footer__first--container ul {
        flex-direction: row;
        margin: 32px 0;
    }

    .footer__first--container ul li:nth-child(2) {
        margin: 16px;

    }

    .footer__first--container ul li a:hover {
        color: white;
    }

    .footer__first--container ul li a:hover::after {
        background-color: white;
    }

}

@media only screen and (min-width: 930px) {
    .top--section--info__img img {
        top: 30%;
    }

}

@media only screen and (min-width: 1100px) {

    /* Top header */
    .top--header {
        margin: 0 10%;
    }

    /* Top header navbar */
    .top--navbar {
        right: 10%;
    }

    /* Top Section */
    #top--section--info {
        text-align: left;
        padding: 120px 80px 0 70px;
        height: 645px;
        margin: 0 10%;
        flex-direction: row;
    }

    .top--section--info__desc h1 {
        max-width: 65%;
        padding: 0;
        margin: 0;
    }

    .top--section--info__desc p {
        margin: 16px 0;
    }

    .top--section--info__img::before {
        top: 0;
        background-position: right;
    }

    .top--section--info__img img {
        position: absolute;
        left: 80%;
        top: -8%;
        z-index: -1;
    }

    /* Our Projects */

    #our--projects {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 220px);
        margin: 150px 10%;
        column-gap: 32px;
    }

    .our--projects__web {
        background-image: url('../../assets/home/desktop/image-web-design-large.jpg');
        grid-row-start: 1;
        grid-row-end: -1;
    }

    .our--projects__mobile {
        background-image: url('../../assets/home/desktop/image-app-design.jpg');
    }

    .our--projects__graphic {
        background-image: url('../../assets/home/desktop/image-graphic-design.jpg');
    }

    /* Our Features */

    #our--features {
        flex-direction: row;
        margin: 0 10%;
        margin-bottom: 300px;
        justify-content: center;
    }

    #our--features::after {
        content: '';
        position: absolute;
        background-image: url('../../assets/shared/desktop/bg-pattern-leaf.svg');
        background-repeat: no-repeat;
        height: 100%;
        width: 100vw;
        right: -400px;
        top: 25%;
        z-index: -1;
        transform: rotate(180deg);
    }

    #our--features .our--features__wrapper {
        flex-direction: column;
        text-align: center;
    }

    #our--features .our--features__wrapper:nth-child(2) {
        margin: 32px 16px;
    }

    .our--features__wrapper div:first-of-type {
        width: 300px;
        margin-right: 32px;
        align-items: center;
    }

    /* CTA */
    #cta {
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
        padding: 80px;
        margin: 10%;
        bottom: 60%;
        left: 0;
    }

    #cta::before {
        background-size: 100%;
    }

    #cta button {
        width: 200px;
    }

    #cta p {
        margin: 16px 0;
    }

    /* Footer */
    #footer {
        padding: 100px 10% 32px 10%;
    }

    #footer::after {
        width: 80%;
    }

    .footer__first--container img {
        width: 300px;
        height: 40px;
    }

    .footer__second--container {
        margin-top: 60px;
    }
}